.container{
	display: grid;
	grid-template-rows: 70px 200px auto;
	height: 100vh;
	border: solid pink;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url('images/background.jpg');
	background-size: cover;
	background-position: 0px 10px 0px 0px;
	background-repeat: no-repeat;
}

#header{
	background-color: white;
	display: flex;
	justify-content: space-between;
}

#headerRight{
	display: flex;
}

#Cart{
	font-family:Arial, Helvetica, sans-serif;
	display: flex;
	padding: 15px;
	margin: 10px;
}

#Bookings{
	font-family:Arial, Helvetica, sans-serif;
	display: flex;
	padding: 15px;
	margin: 10px;
}

#Title{
	font-family:Arial, Helvetica, sans-serif;
	font-size: xx-large;
	color: #459e85;
	display: flex;
	margin: 10px;
	padding-right: 70%;
	align-items: center;
	flex: 1;
}

/* Main page */
#quote{
	font-family:Arial, Helvetica, sans-serif;
	display: flex;
	padding-top: 10px;
	margin-top: 25px;
	justify-content: center;
	font-size: 45px;
	color: white;
}

#sidequote{
	font-family:Arial, Helvetica, sans-serif;
	display: flex;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	justify-content: center;
	font-size: 24px;
	color: white;
}

#content{
	display: flex;
	justify-content: space-evenly;
}

#inputUser{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 500px;
	width: 450px;
	margin-top: 75px;
	padding-top: 50px;
	box-sizing: border-box;
	border-radius: 15px;
}

.divider{
	height: 1px;
	background-color: grey;
	width: 300px;
}

.inp{
	padding-left: 15px;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color:whitesmoke
}

#search{
	background-color: #459e85;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-size: x-large;
}


#arrival{
	margin-bottom: 40px;
}

#search{
	margin-top: 160px;
}


#tripsList{
	background-color: white;
	margin-top: 75px;
	height: 500px;
	width: 450px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	overflow: auto;
}

#img{
	width: 150px;
	height: 150px;
}

#divider{
	padding-top: 25px;
	padding-bottom: 40px;
	color: #459e85;
}

#littlePhrase{
	font-family:Arial, Helvetica, sans-serif;
	font-size: x-large;
}

.containerTrips{
	display: flex;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #f5eeee;
	margin: 10px;
	align-items: center;
}

.tripsCont{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 10px;
}

.inpList {
	background-color: #459e85;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-size: medium;
	width: 55px;
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
	border: none;
	border-radius: 5px;
}
/* Bookings page */

#bookings{
	height: 95vh;
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}
#bookingContent{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	background-color: white;
	width: 90vh;
	border-radius: 20px;
}

#bookTxt{
	margin-top: 50px;
	margin-bottom: 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: larger;
}

#containerBook{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #f5eeee;
	width: 75vh;
	font-size: large;
	height: 65px;
	border-radius: 5px;
}


.bookCont{
	margin: 5px;
}
.dividerBooks{
	margin-top: 50px;
	margin-bottom: 25px;
	height: 1px;
	background-color: black;
	width: 300px;
}

#planATrip{
	font-family:Arial, Helvetica, sans-serif;
	color: black;
	margin-top: 25px;
	margin-bottom: 50px;
}
#enjoyBook{
	font-family:Arial, Helvetica, sans-serif;
	color: #459e85;
	margin-top: 25px;
	margin-bottom: 50px;
}

/* Cart Page */

#cart{
	height: 95vh;
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cartContent{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	background-color: white;
	width: 90vh;
	height: auto;
	border-radius: 20px;
}

#cartTxt{
	margin-top: 50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: larger;
}

#containerCart{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #f5eeee;
	width: 75vh;
	font-size: large;
	height: 65px;
	border-radius: 5px;
}


.cartCont{
	margin: 5px;
}

.cartDelete{
	margin: 15px;
	background-color: #459e85;
	color: white;
	border: none;
	height: 30px;
	width: 30px;
	border-radius: 5px;
}

#bottomCart{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	background-color: #00143d;
	width: 90vh;
	border-end-end-radius: 20px;
	border-bottom-left-radius: 20px;
	color: white;
	height: 90px;
}

#total{
	box-sizing: border-box;
	flex: 1;
	font-family:Arial, Helvetica, sans-serif;
	font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
	overflow: auto;
	padding-left: 35px;
}

#checkout{
	margin-right: 20px;
	background-color: #459e85;
	color: white;
	font-size: larger;
	border: none;
	height: 45px;
	width: 110px;
	border-radius: 5px;
}


#planATrip{
	font-family:Arial, Helvetica, sans-serif;
	color: black;
	margin-top: 25px;
	margin-bottom: 50px;
}
#enjoyBook{
	font-family:Arial, Helvetica, sans-serif;
	color: #459e85;
	margin-top: 25px;
	margin-bottom: 50px;
}

/* 
.setup{
	border: solid red;
} */